@media screen and (max-width: 1200px){
    #nav-bar {
        display: none;
    }
    #responsive {
        display: flex;
        align-items: center;
        padding: 0 20px;
    }
    .logo {
        margin-right: auto; 
        margin-top: 2rem;
    }

    .hamburg {
        margin-left: auto; 
        margin-top: 1rem;
    }
}